@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.spinner {
  border: 4px solid rgba(206, 172, 172, 0.616);
  border-left-color: rgb(44, 159, 253);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
